<%- include("header") -%>

<h1>
    This is about page
</h1>

<p>
    random words to specify i don't know just to occupy space just like i am doning in this world just existing not
    working on my goals non distracting well to be honest i can't really set my heart to something specific
</p>

<%- include("footer") -%>